:root {
  --text: #d4d4d8;
  --text-h: #f4f4f5;
  --bg: #121212;
  --border: #2e2e33;
  --card-bg: #1c1c22;

  font: 16px/145% system-ui, "Segoe UI", Roboto, sans-serif;
  color-scheme: dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2 {
  font-weight: 600;
  color: var(--text-h);
  margin: 0;
}
